# Node.js modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Operating system files
.DS_Store

# Optional npm cache directory
.npm/

# IDE files
.vscode/
.idea/

# Build output
dist/
build/
